

a {
  color: #ffc107 !important;
}

.nav-link {
  color: white !important;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;;
}

/*body{*/
/*  font-family: sans-serif;*/
/*}*/

h3{
  font-family: cursive;
}

